@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Usuwanie notatki</h2>

<h3>Czy jesteś pewien ?</h3>

<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy", "Index")
        </div>
    }
</div>