<div class="jumbotron">
    <h1>Skrzynka odbiorcza</h1>
    <p class="lead">Wyświetl skrzynke odbiorczą.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Dalej &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Rejestr korespondencji wychodzącej</h2>
        <p>Wyświetlaj i aktualizuj rejestr korespondencji wychodzącej.</p>
        <p><a class="btn btn-default" href="#">Dalej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rejestr korespondencji przychodzącej</h2>
        <p>Wyświetlaj i aktualizuj rejestr korespondencji przychodzącej.</p>
        <p><a class="btn btn-default" href="#">Dalej &raquo;</a></p>
    </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>Rejestry korespondencji - administracja</h2>
        <p>Definiuj rejestry korespondencji. Przypisuj uprawnienia</p>
        <p><a class="btn btn-default" href="#">Dalej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Skrzynki uzytkowników</h2>
        <p>Definiuj uzytkowników i ich skrzynki, uprawnienia do skrzynek</p>
        <p><a class="btn btn-default" href="#">Dalej &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Scenariusze obiegu dokumentów</h2>
        <p>Definiuj scenariusze obiegu dokumentów. Przypisuj do rejestrów.</p>
        <p><a class="btn btn-default" href="#">Dalej &raquo;</a></p>
    </div>
</div>
